div.clear {
  clear: both;
}

.titlebar {
  background-color: rgb(255, 120, 35);
  background-image: url(../img/Banner.png);
  background-repeat: repeat-x;
}

.logo {
  float: left;
  padding-left: 9px;
  padding-top: 7px;
  padding-bottom: 9px;
  margin-right: 20px;
}

#project-name {
  float: left;
}

#project-name > .name {
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: white;
}
