.title-logo {
  margin-left: 215px;
  margin-top: -5px;
}

.row.center {
  margin-top: 30px;
}

.left-block {
  padding-left: 80px;
  width: 380px;
}

.right-block {
  padding-left: 40px;
  width: 304px;
  text-align: center;
}

.key-visual {
  margin-bottom: 10px;
}

h1 {
  font-size: 13px;
  line-height: 22px;
  background-color: orange;
  text-align: center;

  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 20px;
  padding: 5px;
}

.start-button {
  width: 200px;
  height: 41px;
  padding: 0;
  border: 0;
  background: url(../img/index/Start.png) no-repeat left top;
  color: white;
  text-align: center;
}

.start-button:hover, .start-button:focus {
  background-image: url(../img/index/StartHover.png);
}
