img.edit_button {
  margin-top: -5px;
  cursor: pointer;
}

.tutorial-button {
  float: right;
  padding-right: 13px;
  padding-top: 8px;
  cursor: pointer;
}

.tutorial-button.disabled {
  opacity: .20;
  filter: Alpha(Opacity=20);
}

#project-name .editing {
  margin-bottom: 0px;
  margin-top: -5px;
  margin-left: -1px;
  height: 25px;
}

#project-name input {
  width: 347px;
  font-size: 20px;
  color: #666;
}

#project-name > .edit {
  float: left;
  margin-left: -10px;
  margin-top: 12px;
}

#bookmark-reminder {
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  position: relative;
}

[class*="column-"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.column-tasks {
  width: 351px;
  margin-left: 10px;
  padding-right: 20px;
}

.column-tasks-bottom {
  border-right: 1px dashed #d8d8d8;
  margin-bottom: 40px;
}

.column-staffs {
  width: 347px;
  padding-right: 20px;
}

.column-staffs-bottom {
  position: relative;
  border-right: 1px dashed #d8d8d8;
}

.column-trash {
  margin-left: 32px;
  width: 90px;
  min-height: 439px;
}

.show_trashes {
  margin-left: 25px;
  padding-top: 10px;
  width: 95px;
}

#show_trashes {
  margin-left: 10px;
}

.show_trashes_label {
  color: #999;
  white-space: nowrap;
  cursor: pointer;
}

.palette {
  position: relative;
  width: 29px;
  height: 439px;
  padding-left: 16px;
  padding-top: 1px;
}

.color-box {
  width: 14px;
  height: 14px;
  margin-bottom: 18px;
  padding: 1px;
  border: 1px solid rgb(192, 192, 192);
  cursor: pointer;
}

.color-focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.color-box-inner {
  width: 14px;
  height: 14px;
}

#color-cancel {
  cursor: pointer;
}

#toggle-tasks {
  position: absolute;
  left: 7px;
  bottom: 0px;
  cursor: pointer;
}

#open-all, #close-all {
  text-align: center;
  color: #08C;
  font-size: 12px;
  white-space: nowrap;
}

.input-eyecatch {
  width: 32px;
  height: 46px;
  padding-left: 13px;
  padding-top: 5px;
}

input#task {
  width: 352px;
  height: 33px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-input-placeholder {
  padding-left: 3px;
  padding-top: 1px;
}

input:-moz-placeholder {
  padding-left: 8px;
  padding-top: 4px;
}

div#incoming-tasks {
  float: left;
  width: 350px;
  border: 1px solid silver;
}

#tasks, .assigned-task, .followee-task {
  list-style-type: none;
  margin: 0;
}

#tasks {
  padding: 3px;
  padding-bottom: 0;
  width: auto;
  min-height: 431px;
}

.assigned-task, .followee-task {
  width: auto;
  min-height: 33px;
  padding: 1px;
}

.followee-task > .task {
  opacity: .80;
  filter: Alpha(Opacity=80);
}

.task .name {
  width: 310px;
  float: left;

  white-space: nowrap;
  overflow: hidden; /* "overflow" の値は "visible" 以外のものを指定する */

  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.task .name.opened {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.task .edit-box {
  position: relative;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: right;
}

.edit-box .btn + .btn {
  margin-left: 5px;
}

.edit-box .delete {
  position: absolute;
  left: -9px;
  top: -4px;
}

.task .comment {
  width: 316px;
  resize: vertical;
  margin-bottom: 4px;
}

.task .editing {
  height: 12px;
  margin-left: -4px;
  margin-top: -3px;
}

.task input {
  width: 280px;
}

.task .edit {
  width: 20px;
  float: left;
}

.task .marker {
  position: absolute;
  right: 2px;
  bottom: -2px;
}

div#staff-container {
  width: 348px;
  padding-top: 1px;
}

.staff-disabler {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: white;
  opacity: .80;
  filter: Alpha(Opacity=80);
}

div#staffs {
}

div.staff {
  position: relative;
  border: 1px solid silver;
  margin-bottom: 5px;
}

.staff > .delete {
  position: absolute;
  left: -19px;
  top: 3px;
}

div.staff-name {
  height: 23px;
  padding-left: 5px;
}

.staff-name > .name {
  width: 81%;
  float: left;
  color: #555;
}

.staff-name .editing {
  height: 12px;
  margin-left: -4px;
  margin-top: -2px;
}

.staff-name input {
  width: 265px;
}

.staff-name > .edit {
  width: 7%;
  margin-top: 2px;
  float: right;
}

div.add-staff {
  float: right;
  margin-right: 25px;
  padding-top: 10px;
  text-align: right;
}

#add-staff {
  cursor: pointer;
}

div#followee-container {
  margin-top: 15px;
  width: 348px;
}

div.followee {
  position: relative;
  border: 1px solid silver;
  margin-bottom: 5px;
}

div.followee-name {
  height: 23px;
  padding-left: 5px;
  background-color: rgb(188, 188, 188);
}

.followee-name > .name {
  width: 81%;
  float: left;
  color: white;
}

.newest, .newer {
  width: 12%;
  float: left;
}

.followee-name > .delete {
  width: 7%;
  margin-top: 2px;
  float: right;
}

div.add-followee {
  float: right;
  padding-top: 10px;
  text-align: right;
}

input.follow-project {
  width: 450px;
}

[id*="followee-select"] {
  width: 160px;
}

.trashbox {
  position: fixed;
  width: 90px;
  top: 111px;
  bottom: 40px;
  border: 1px dashed white;
  border-radius: 5px;

  -webkit-transition: border linear 0.2s;
  -moz-transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -o-transition: border linear 0.2s;
  transition: border linear 0.2s;
}

#trashbox-img {
  width: 100%;
}

.trash {
  width: 100%;
  margin-top: -19px;
  margin-left: 12px;
}

.recycle {
  width: 100%;
  margin-left: 10px;
  margin-top: 5px;
}

.drop-here {
  border-color: rgb(255, 190, 73);
}

div#undo {
  float: left;
  width: 33%;
  margin-top: 16px;
}

.task {
  position: relative;
  margin: 0px;
  font-size: 1.0em;
  min-height: 31px;
  background: #E6E6E6;
  border: 1px solid lightGray;
  font-weight: normal;
  color: #555;
}

.task.completed {
  opacity: .80;
  filter: Alpha(Opacity=80);
}

.task .name-box {
  padding: 5px;
  width: 332px;
}

/* タスクリストの中のみ、隣のタスクとのマージンを空ける */
#tasks .task {
  margin-bottom: 3px;
}

.task span {
  position: absolute;
  margin-left: -1.3em;
}

.complete-task {
  color: silver;
}

/*
  タスク割り当て済みのSortableにドロップしようとしたとき、
  リストの既存アイテムが動かないようにする
*/
.assigned-task > .ui-sortable-placeholder {
  display: none;
}

#project-url {
  width: 516px;
}

#tutorial {
  position: relative;
  z-index: 3000;
}

.fade-plane {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.start-here {
  position: absolute;
  left: -39px;
  top: 329px;
}

.new-task {
  position: absolute;
  left: 61px;
  top: 4px;
}

.created-tasks {
  position: absolute;
  left: 59px;
  top: 55px;
}

.move-by-drag {
  position: absolute;
  left: 167px;
  top: 150px;
}

.assign-to-staff {
  position: absolute;
  left: 497px;
  top: 81px;
}

.to-trash {
  position: absolute;
  left: 587px;
  top: 177px;
}

.replay {
  position: absolute;
  left: 617px;
  top: 428px;
}

.arrow-left {
  position: absolute;
  left: -38px;
  top: 20px;
}

.arrow-next-1 {
  position: absolute;
  left: 352px;
  top: 87px;
}

.arrow-next-2 {
  position: absolute;
  left: 758px;
  top: 111px;
}

.arrow-right {
  position: absolute;
  left: 926px;
  top: -40px;
}

/*
  タスクの標準設定を上書きするので最後に
*/
.color-orange {
  background-color: rgb(255, 190, 73);
}

.color-yellow {
  background-color: rgb(255, 246, 89);
}

.color-green {
  background-color: rgb(212, 232, 141);
}

.color-cyan {
  background-color: rgb(108, 223, 253);
}

.color-blue {
  background-color: rgb(154, 162, 231);
}

.color-pink {
  background-color: rgb(253, 165, 198);
}

.color-gray {
  background-color: rgb(245, 245, 245);
}

.brush-orange {
  cursor: url(../img/brush/orange.cur), url(../img/brush/orange.png), default;
}

.brush-yellow {
  cursor: url(../img/brush/yellow.cur), url(../img/brush/yellow.png), default;
}

.brush-green {
  cursor: url(../img/brush/green.cur), url(../img/brush/green.png), default;
}

.brush-cyan {
  cursor: url(../img/brush/cyan.cur), url(../img/brush/cyan.png), default;
}

.brush-blue {
  cursor: url(../img/brush/blue.cur), url(../img/brush/blue.png), default;
}

.brush-pink {
  cursor: url(../img/brush/pink.cur), url(../img/brush/pink.png), default;
}

.brush-gray {
  cursor: url(../img/brush/gray.cur), url(../img/brush/gray.png), default;
}

footer {
  text-align: center;
}

@media print {
  body {
    margin-left: 3%;
    padding-top: 2%;
    -webkit-print-color-adjust: exact;
  }

  .column-tasks {
    width: 46%;
    margin-left: auto;
    margin-right: auto;
  }

  div#incoming-tasks { width: 100%; }
  .task .name-box { width: 100%; }
  .task .name { width: 96%; }

  .print-task-only {
    float: none;
    padding-right: 0;
    border-right: none;
  }

  .column-staffs { width: 46%; }
  .column-staffs-bottom { border-right: none; }
  div#staff-container { width: 100%; }
  .staff .name { width: 90%; }
  .newest, .newer { width: 10%; }

  .no-print { display: none; }
}
