%head
  %link{:href => "http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/css/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js', type: 'text/javascript' }
  %script{ src: '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js', type: 'text/javascript' }
  %script{ src: '/js/application.js', type: 'text/javascript' }

#incoming-tasks
  %ul#tasks.sortable
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s>
      タスク1
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s>
      タスク2
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s>
      タスク3
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s>
      タスク4
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s>
      タスク5
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s>
      タスク6
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s>
      タスク7

#staffs
  .staff
    .staff-name
      のび太
    %ul.assigned-task.sortable
  .staff
    .staff-name
      スネ夫
    %ul.assigned-task.sortable
  .staff
    .staff-name
      しずか
    %ul.assigned-task.sortable
