- content_for :head do
  -# ユーザーがタスク内に非公開のURLを書く可能性もあるため、nofollowも指定
  %meta{ name: "robots", content: "noindex,nofollow,noarchive" }
  %meta{ name: "googlebot", content: "noarchive" }

- content_for :css do
  %link{:href => url_for('/assets/project.css'), :rel => "stylesheet"}

.fade-plane{ style: "display: none;" }

.navbar.navbar-fixed-top.no-print
  .titlebar
    .container
      .logo
        %a{ href: url_for('/'), target: '_blank' }
          %img{ src: url_for('/img/Entaku.png') }

      #project-name
        .name entakun
        .edit{ style: "display: none;" }
          %img.edit_button{ src: url_for('/img/pencil.png') }

      .tutorial-button
        %img{ src: url_for('/img/Hatena.png') }

    #bookmark-reminder{ style: "display: none;" }
      %img{ src: url_for('/img/Tutorial/Bookmark_Reminder.png') }

.container
  .alert.no-print{ style: "display: none;" }
    (Alert message)

  #tutorial.no-print{ style: "display: none;" }
    %img.start-here{ src: url_for('/img/Tutorial/Start_Here.png') }
    %img.new-task{ src: url_for('/img/Tutorial/New_Task.png') }
    %img.created-tasks{ src: url_for('/img/Tutorial/Created_Tasks.png') }
    %img.move-by-drag{ src: url_for('/img/Tutorial/Move_By_Drag.png') }
    %img.assign-to-staff{ src: url_for('/img/Tutorial/Assign_To_Staff.png') }
    %img.to-trash{ src: url_for('/img/Tutorial/To_Trash.png') }
    %img.replay{ src: url_for('/img/Tutorial/Replay.png') }

    %img.arrow-left{ src: url_for('/img/Tutorial/Arrow_Left.png') }
    %img.arrow-next-1{ src: url_for('/img/Tutorial/Arrow_Next.png') }
    %img.arrow-next-2{ src: url_for('/img/Tutorial/Arrow_Next.png') }
    %img.arrow-right{ src: url_for('/img/Tutorial/Arrow_Right.png') }

  .row.no-print
    .span1.input-eyecatch
      %img{ src: url_for('/img/Input.png') }
    .column-tasks
      #add-task
        %input#task{ type: 'text', placeholder: 'タスクを追加' }
    .column-staffs
      .add-followee
        %a{ 'href' => '#add-followee', 'data-toggle' => 'modal' }
          %img.edit_button{ src: url_for('/img/add.png') }
          フォロー
      .add-staff
        %a#add-staff
          %img.edit_button{ src: url_for('/img/add.png') }
          メンバー
    .span1.show_trashes
      %form#show_trashes
        %label.checkbox.show_trashes_label
          %input#show_trashes_check{ type: "checkbox" } 完了を表示

  .row
    .palette.span1.no-print
      - @colors.each do |color|
        .color-box{ :"data-color-name" => color }
          .color-box-inner{ class: "color-#{color}" }
      #color-cancel{ style: 'display: none;' }
        %img{ src: url_for('/img/cancel.png') }

      #toggle-tasks
        #open-all<
          ひらく
          %br>
          %img{ src: url_for('/img/OpenAll.png') }
        #close-all{ style: 'display: none;' }<
          とじる
          %br>
          %img{ src: url_for('/img/CloseAll.png') }

    .column-tasks.column-tasks-bottom
      #incoming-tasks
        #tasks.sortable
          %span#ruler{ style: 'visibility:hidden; position:absolute; white-space:nowrap;' }
          #task-template.task{ style: 'display: none;' }
            .name-box
              .name (タスク内容)
              .edit{ style: "display: none;" }
                %img.edit_button.no-print{ src: url_for('/img/pencil.png') }
              .marker
                %img.task_open{ src: url_for('/img/Task_Open.png') }
                %img.task_close{ src: url_for('/img/Task_Close.png') }
              .clear
            .edit-box{ style: 'display: none;' }
              %img.delete{ src: url_for('/img/cancel.png') }
              %textarea.comment{ rows: 4 }
              %button.btn.cancel キャンセル
              %button.btn.btn-primary.ok OK

    .column-staffs.column-staffs-bottom
      .staff-disabler{ style: 'display: none;' }
      #staff-container
        #staffs
          .staff#staff-template{ style: 'display: none;' }
            %img.delete{ src: url_for('/img/cancel.png'), style: 'display: none;' }
            .staff-name
              .name (スタッフ名)
              .newest
                %img{ src: url_for('/img/Newest.png') }
              .newer
                %img{ src: url_for('/img/Newer.png') }
              .edit{ style: "display: none;" }
                %img.edit_button.no-print{ src: url_for('/img/pencil.png') }
            .assigned-task.sortable

      #followee-container
        #followees
          .followee#followee-template{ style: 'display: none;' }
            .followee-name
              .name (スタッフ名)
              .newest
                %img{ src: url_for('/img/Newest.png') }
              .newer
                %img{ src: url_for('/img/Newer.png') }
              .delete{ style: "display: none;" }
                %img.edit_button.no-print{ src: url_for('/img/cancel.png') }
            .followee-task
              .task
                .name-box
                  .name (タスク内容)
                  .marker
                    %img.task_open{ src: url_for('/img/Task_Open.png') }
                    %img.task_close{ src: url_for('/img/Task_Close.png') }
                  .clear

    .column-trash.no-print
      .trashbox
        #trashbox-img
          .trash
            %img.trash-close{ src: url_for('/img/TrashBox_Closed.png') }
            %img.trash-open{ src: url_for('/img/TrashBox_Opened.png'), style: 'display: none' }
          .recycle{ style: 'display: none' }
            %img.recycle-off{ src: url_for('/img/Recycle_Off.png') }
            %img.recycle-on{ src: url_for('/img/Recycle_On.png'), style: 'display: none' }

  #add-followee.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel フォローを追加
    .modal-body
      %p
        他のプロジェクトのメンバーをフォローできます。
        %br
        フォローした人の作業内容を、いつでも横目に見ることができます。
      %p
        設定は個人ごとに、ブラウザに保存されます。
      %hr
      %form#follow-url.form-inline{ action: url_for('/staffs') }
        %fieldset
          %input.follow-project{ type: 'text', name: 'project', placeholder: 'プロジェクトのURL' }
          %button.btn{ type: 'submit' } 送信
      %hr
      %form#follow-members
        %fieldset
          %input{ type: 'hidden', name: 'project', value: '' }
          %label#follow-member-template.checkbox{ style: 'display: none;' }
            %input{ type: 'checkbox' }
            %span (メンバー名)
          .row
            .span2#followee-select-0
            .span2#followee-select-1
            .span2#followee-select-2
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} キャンセル
      %button#follow-members-submit.btn.btn-primary フォローする

  #welcome.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "welcomeModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %h3#welcomeModalLabel ブックマークをしよう！
    .modal-body
      %p
        entakunへようこそ！新しいページが作られました。
      %p
        このページは、どこからもリンクされていません。
        %br
        ブックマークするかURLをメモしておかないと、
        %br
        せっかく入力した内容にアクセスできなくなってしまいます！
      %hr

      %form.form-inline{ onsubmit: 'return false;' }
        %fieldset
          %input#project-url{ type: 'text' }

      %hr

      %p
        このURLをチームメンバーに伝えると、共同作業ができます。
      %p
        URLを知っている人は誰でも編集できてしまいますので、
        %br
        不特定多数の人が見る場所には書かないように気をつけましょう。

    .modal-footer
      %button.btn.btn-primary{ :'data-dismiss' => "modal" } OK

:javascript
  var project_key = "#{@project_key}";

/ Placed at the end of the document so the pages load faster
%script{ src: url_for('/assets/application.js'), type: 'text/javascript' }
%script{ src: url_for('/assets/project.js'), type: 'text/javascript' }
%script{ src: url_for('/js/url.js'), type: 'text/javascript' }
