#add-task
  %label タスクを追加
  %input#task{ type: 'text' }

.row
  .span5
    #incoming-tasks
      %ul#tasks.sortable
        %li#task-template.ui-state-default{ style: 'display: none;' }
          .name (タスク内容)
          .edit{ style: "display: none;" }
            %img.edit_button{ src: url_for('/img/pencil.png') }
          .delete{ style: "display: none;" }
            %img.edit_button{ src: url_for('/img/cancel.png') }

  .span5
    #staffs
      .staff#staff-template{ style: 'display: none;' }
        .staff-name
          .name (スタッフ名)
          .edit{ style: "display: none;" }
            %img.edit_button{ src: url_for('/img/pencil.png') }
          .delete{ style: "display: none;" }
            %img.edit_button{ src: url_for('/img/cancel.png') }
        %ul.assigned-task.sortable

    .add-staff
      %a#add-staff
        %img.edit_button{ src: url_for('/img/add.png') }
        スタッフを追加

    #commands
      #trashs
        %label 完了を表示
        #show_trashes
          %input#show_trashes_check{ type: "checkbox" }
      #trashbox
        %img#trashbox-img{ src: url_for('/img/TrashBox_Closed.png') }
      #undo

:javascript
  var project_key = "#{@project_key}";
