.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      #project-name
        .name.brand entakun
        .edit{ style: "display: none;" }
          %img.edit_button{ src: url_for('/img/pencil.png') }

      %form#show_trashes.navbar-form.pull-right
        %label.checkbox
          %input#show_trashes_check{ type: "checkbox" } 完了を表示

.container
  #add-task
    %input#task{ type: 'text', placeholder: 'タスクを追加' }

  .row
    .colors.span1
      - @colors.each do |color|
        .color-box{ id: color[:name] }
          .color-box-inner{ style: "background-color: #{color[:value]}" }

    .span5
      #incoming-tasks
        #tasks.sortable
          %span#ruler{ style: 'visibility:hidden; position:absolute; white-space:nowrap;' }
          #task-template.task.ui-state-default{ style: 'display: none;' }
            .name (タスク内容)
            .edit-box{ style: 'display: none;' }
              %img.delete{ src: url_for('/img/cancel.png') }
              %textarea.comment{ rows: 4 }
              %button.btn.cancel キャンセル
              %button.btn.btn-primary.ok OK
            .edit{ style: "display: none;" }
              %img.edit_button{ src: url_for('/img/pencil.png') }
            .marker
              %img.task_open{ src: url_for('/img/Task_Open.png') }
              %img.task_close{ src: url_for('/img/Task_Close.png') }
            .clear

    .span5
      #staff-container
        #staffs
          .staff#staff-template{ style: 'display: none;' }
            .staff-name
              .name (スタッフ名)
              .edit{ style: "display: none;" }
                %img.edit_button{ src: url_for('/img/pencil.png') }
              .delete{ style: "display: none;" }
                %img.edit_button{ src: url_for('/img/cancel.png') }
            .assigned-task.sortable

        .add-staff
          %a#add-staff
            %img.edit_button{ src: url_for('/img/add.png') }
            追加

      #followee-container
        #followees
          .followee#followee-template{ style: 'display: none;' }
            .followee-name
              .name (スタッフ名)
              .delete{ style: "display: none;" }
                %img.edit_button{ src: url_for('/img/cancel.png') }
            .followee-task
              .task.ui-state-default
                .name (タスク内容)
                .marker
                  %img.task_open{ src: url_for('/img/Task_Open.png') }
                  %img.task_close{ src: url_for('/img/Task_Close.png') }
                .clear
            %img.recent-indicator-strong{ src: url_for('/img/Recent_Strong.png'), style: 'display: none;' }
            %img.recent-indicator-weak{ src: url_for('/img/Recent_Weak.png'), style: 'display: none;' }

        .add-followee
          %a{ 'href' => '#add-followee', 'data-toggle' => 'modal' }
            %img.edit_button{ src: url_for('/img/add.png') }
            フォローを追加

    .span1
      #trashbox
        %img#trashbox-img{ src: url_for('/img/TrashBox_Closed.png') }

  #add-followee.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel フォローを追加
    .modal-body
      %p
        他のプロジェクトのメンバーをフォローできます。
        %br
        フォローした人の作業内容を、いつでも横目に見ることができます。
      %p
        設定は個人ごとに、ブラウザに保存されます。
      %hr
      %form#follow-url.form-inline{ action: url_for('/staffs') }
        %fieldset
          %input.follow-project{ type: 'text', name: 'project', placeholder: 'プロジェクトのURL' }
          %button.btn{ type: 'submit' } 送信
      %hr
      %form#follow-members
        %fieldset
          %input{ type: 'hidden', name: 'project', value: '' }
          %label#follow-member-template.checkbox{ style: 'display: none;' }
            %input{ type: 'checkbox' }
            %span (メンバー名)
          .row
            .span2#followee-select-0
            .span2#followee-select-1
            .span2#followee-select-2
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} キャンセル
      %button#follow-members-submit.btn.btn-primary フォローする

  :javascript
    var project_key = "#{@project_key}";
