.navbar.navbar-fixed-top
  .titlebar
    .container
      .logo
        %a{ href: url_for('/'), target: '_blank' }
          %img{ src: url_for('/img/Entaku.png') }

      #project-name
        .name 最近使ったプロジェクト

.container
  %p
    お気に入りにし忘れたプロジェクトは、ここからたどりつけます。
  %p
    このリストはブラウザのCookieに保存されています。
    %br
    Cookieを削除すると消えます。また、別のブラウザからは見られません。
    %br
    あくまで非常用に使ってくださいね。
  %hr

  %ul
    - @projects.each do |e|
      %li
        %a{ href: url_for("/projects/#{e[:key]}") }= e[:name]
