div.clear {
  clear: both;
}

img.edit_button {
  margin-top: -5px;
  cursor: pointer;
}

#project-name > .name {
  float: left;
}

#project-name .editing {
  margin-bottom: 0px;
  height: 13px;
}

#project-name input {
  width: 338px;
}

#project-name > .edit {
  float: left;
  margin-left: -10px;
  margin-top: 12px;
}

#show_trashes {
  margin-top: 5px;
}

input#task {
  width: 338px;
}

div#incoming-tasks {
  float: left;
  width: 350px;
  margin-right: 20px;
  border: 1px solid silver;
}

ul#tasks {
  padding: 3px;
  width: auto;
  min-height: 440px;
}

.task > .name {
  width: 87.5%;
  float: left;
}

.task .editing {
  height: 12px;
  margin-left: -4px;
  margin-top: -3px;
}

.task input {
  width: 280px;
}

.task > .edit {
  width: 7%;
  float: left;
}

.task > .delete {
  width: 5.5%;
  float: left;
}

div#staff-container {
  width: 348px;
}

div#staffs {
}

div.staff {
  height: 56px;
  border: 1px solid silver;
  margin-bottom: 5px;
}

div.staff-name {
  height: 23px;
  padding-left: 5px;
  background-color: deepskyblue;
}

.staff-name > .name {
  width: 86%;
  float: left;
}

.staff-name .editing {
  height: 12px;
  margin-left: -4px;
  margin-top: -2px;
}

.staff-name input {
  width: 280px;
}

.staff-name > .edit {
  width: 7%;
  margin-top: 2px;
  float: left;
}

.staff-name > .delete {
  width: 7%;
  margin-top: 2px;
  float: left;
}

ul.assigned-task, followee-task {
  width: auto;
  height: 30px;
  padding: 1px;
}

div.add-staff {
  clear: both;
  text-align: right;
}

div#followee-container {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px dashed silver;
  width: 348px;
}
div.followee {
  height: 56px;
  border: 1px solid silver;
  margin-bottom: 5px;
}

div.followee-name {
  height: 23px;
  padding-left: 5px;
  background-color: gray;
}

.followee-name > .name {
  width: 93%;
  float: left;
}

.followee-name > .delete {
  width: 7%;
  margin-top: 2px;
  float: left;
}

div.add-followee {
  clear: both;
  text-align: right;
}

input.follow-project {
  width: 450px;
}

[id*="followee-select"] {
  width: 160px;
}

div#trashbox {
  width: 100px;
  margin-top: 170px;
}

div#undo {
  float: left;
  width: 33%;
  margin-top: 16px;
}

.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.sortable li {
  margin: 0px;
  margin-bottom: 3px;
  padding: 0.4em;
  font-size: 1.0em;
  height: 18px;
}

.sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

.complete-task {
  color: silver;
}

/*
  タスク割り当て済みのSortableにドロップしようとしたとき、
  リストの既存アイテムが動かないようにする
*/
ul.assigned-task > .ui-sortable-placeholder {
  display: none;
}

footer {
  text-align: center;
}