div.clear {
  clear: both;
}

div#incoming-tasks {
  float: left;
  width: 350px;
  margin-right: 20px;
  border: 1px solid black;
}

ul#tasks {
  min-width: 340px;
  min-height: 400px;
}

div.task {
  width: 80%;
  float: left;
}

.editing-task {
  height: 12px;
  margin-left: -4px;
  margin-top: -4px;
}

div.edit {
  width: 10%;
  float: left;
}

div.delete {
  width: 10%;
  float: left;
}

div#staffs {
  float: left;
  height: 275px;
}

div.staff {
  width: 350px;
  height: 80px;
  border: 1px solid black;
}

div.staff-name {
  width: 340px;
  height: 30px;
  border: 1px solid black;
}

ul.assigned-task {
  width: 340px;
  height: 35px;
  border: 1px solid black;
}

div#commands {
  clear: both;
  width: 350px;
  height: 125px;
  border: 1px solid black;
}

div#trashs {
  float: left;
  width: 33%;
  height: 64px;
  margin-top: 16px;
}

div#trashbox {
  float: left;
  width: 33%;
  height: 64px;
  padding-left: 16px;
}

div#undo {
  float: left;
  width: 33%;
  height: 64px;
  margin-top: 16px;
}

.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }

/*
  タスク割り当て済みのSortableにドロップしようとしたとき、
  リストの既存アイテムが動かないようにする
*/
ul.assigned-task > .ui-sortable-placeholder {
  display: none;
}

footer {
  text-align: center;
}